span{
    background-color: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.changeColor span{
    background-color: green;
}
.changeLength span::after{
    content: 'length';
    margin-left: 10px;
}

