body main {
  margin: 100px;
  padding: 100px;
  border: 1px solid #000;
}
body main p.relativeBox img {
  width: 50px;
  height: 50px;
}
body main p.absoluteBox {
  position: relative;
}
body main p.absoluteBox img {
  width: 50px;
  height: 50px;
}
body main div.asdf {
  width: 200px;
  height: 200px;
  border: 1px solid #f40;
  position: relative;
  margin: 0;
  padding: 0;
}
body main div.asdf p {
  padding: 0;
  margin: 0;
  background-color: purple;
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
}
body main div.center {
  width: 200px;
  height: 200px;
  border: 1px solid #f40;
  position: relative;
  margin: 0;
  padding: 0;
}
body main div.center p {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  background-color: purple;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
body main main {
  overflow: hidden;
}
body main main article {
  width: 300px;
  height: 300px;
  background-color: red;
  position: relative;
}
body main main article section {
  position: relative;
  background-color: green;
  width: 200px;
  height: 200px;
  left: 100px;
}
body main main article section div {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
body main main {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  overflow: scroll;
  position: relative;
}
body main main section {
  height: 3000px;
  background-color: #ccc;
}
body main main section div {
  width: 100px;
  height: 100px;
  background-color: purple;
  position: absolute;
  bottom: 0;
  left: 0;
}
body main ul {
  list-style: none;
}
body main ul li {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid purple;
}
body main ul li span {
  background-color: purple;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  z-index: 3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
body main ul li img {
  width: 100%;
  height: 100%;
}
body main ul li div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: purple;
  z-index: -1;
}
body main ul li:hover div {
  z-index: 2;
}
body main article {
  margin: 30px auto;
  width: 150px;
  position: relative;
  cursor: pointer;
}
body main article div {
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 3em;
}
body main article div:nth-of-type(1) {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
}
body main article div:nth-of-type(2) {
  width: 300px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  display: none;
}
body main article:hover div:nth-of-type(1) {
  border-bottom: none;
}
body main article:hover div:nth-of-type(2) {
  display: block;
}
