body {
  margin: 0;
  padding: 0;
}
body article.preliminary {
  display: grid;
  width: 300px;
  height: 300px;
  border: 5px solid #ccc;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
body article.preliminary div {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  background-clip: content-box;
  border: 1px solid blueviolet;
  box-sizing: border-box;
  padding: 10px;
}
body main.basis {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid #000;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}
body main.basis div {
  background-color: blueviolet;
  background-clip: content-box;
  border: 1px solid blueviolet;
  box-sizing: border-box;
}
body .gridDirectionStartEnd {
  border: 1px solid #f00;
  width: fit-content;
  height: fit-content;
  display: grid;
}
body .gridDirectionStartEnd div {
  background-color: blueviolet;
  background-clip: content-box;
  border: 1px solid blueviolet;
  box-sizing: border-box;
}
body .gridDirectionStartEnd div:first-child {
  background-color: yellow;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: red;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: blue;
  grid-row-start: r1-end;
  grid-row-end: r2-end;
  grid-column-start: c1-end;
  grid-column-end: c2-end;
  background-color: chartreuse;
  grid-row-start: r-start 2;
  grid-row-end: r-start 3;
  grid-column-start: c-start 2;
  grid-column-end: c-start 3;
}
body div.gridMar {
  width: fit-content;
  height: fit-content;
  border: 1px solid blueviolet;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
}
body div.gridMar div {
  background-color: red;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
body .gridArea {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
body .gridArea div {
  border: 1px solid #000;
}
body article.xiaomiLayout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 60px 1fr;
  grid-template-areas: '. .' '. .' 'footer footer';
  gap: 5px;
}
body article.xiaomiLayout header,
body article.xiaomiLayout nav,
body article.xiaomiLayout main,
body article.xiaomiLayout footer {
  background-color: blueviolet;
  background-clip: content-box;
  text-align: center;
  line-height: 3em;
  font-size: 20px;
  color: #fff;
}
body article.xiaomiLayout footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body article.xiaomiLayout footer div {
  background-color: #ccc;
  background-clip: content-box;
  line-height: 2em;
  text-align: center;
  color: #000;
  padding: 5px;
}
body article.flowLayout {
  margin: 0 auto;
  display: grid;
  width: fit-content;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  border: 1px solid #000;
  box-sizing: border-box;
  grid-auto-flow: dense;
  gap: 5px;
  padding: 5px;
}
body article.flowLayout div {
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
  background-color: blue;
}
body article.flowLayout div:nth-of-type(1) {
  grid-column: 1 / span 2;
}
body article.flowLayout div:nth-of-type(2) {
  grid-column: 2;
}
body article.alignjustify {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  gap: 5px;
  width: 400px;
  height: 100px;
  border: 1px solid #000;
  box-sizing: border-box;
}
body article.alignjustify div {
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: red;
  width: 50px;
  height: 50px;
}
body article.alignjustify div:nth-of-type(1) {
  justify-self: end;
  align-self: end;
}
