body{
    margin: 0;
    padding: 0;
    article.preliminary{
        display: grid;
        width: 300px;
        height: 300px;
        border: 5px solid #ccc;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        div{
            width: 100px;
            height: 100px;
            background-color: blueviolet;
            background-clip: content-box;
            border: 1px solid blueviolet;
            box-sizing: border-box;
            padding: 10px;
        }
    }
    // 珊格基础绘制
    main.basis{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border: 1px solid #000;
        display: grid;
        grid-template-rows:repeat(3, 100px);
        grid-template-columns: repeat(3, 100px);
        gap: 10px;
        div{
            // width: 50px;
            // height: 50px;
            background-color: blueviolet;
            background-clip: content-box;
            border: 1px solid blueviolet;
            box-sizing: border-box;
        }
    }

    // 根据珊格线编号放置元素;
    .gridDirectionStartEnd{
        border: 1px solid #f00;
        width: fit-content;
        height: fit-content;
        display: grid;
        // grid-template-rows: repeat(3, 100px);
        // grid-template-columns: repeat(3, 100px);
        // 使用命名方式来放置固定的元素;
        // grid-template-rows: [r1-start] 100px [r1-end r2-start] 100px [r2-end r3-start] 100px [r3-end];
        // grid-template-columns: [c1-start] 100px [c1-end c2-start] 100px [c2-end c3-start] 100px [c3-end];
        // 使用repeat方法中的方式进行命名;
        // grid-template-rows: repeat(3, [r-start] 100px [r-end]);
        // grid-template-columns: repeat(3, [c-start] 100px [c-end]);
        div{
            background-color: blueviolet;
            background-clip: content-box;
            border: 1px solid blueviolet;
            box-sizing: border-box;
            &:first-child{
                // 将第一个元素放置到中间的珊格中;
                background-color: yellow;
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
                // 将第一个元素填满整个grid容器;
                background-color: red;
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 4;
                // 使用命名的方式进行放置元素;
                background-color: blue;
                grid-row-start: r1-end;
                grid-row-end: r2-end;
                grid-column-start: c1-end;
                grid-column-end: c2-end;
                // 使用repeat方法中的方式进行命名;
                background-color: chartreuse;
                grid-row-start: r-start 2;
                grid-row-end: r-start 3;
                grid-column-start: c-start 2;
                grid-column-end: c-start 3;
            }
        }
    }
    // 根据偏移量定位元素;
    div.gridMar{
        width: fit-content;
        height: fit-content;
        border: 1px solid blueviolet;
        box-sizing: border-box;
        padding: 10px;
        display: grid;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(3, 100px);
        div{
            background-color: red;
            // grid-row-start: 2;
            // grid-column-start: 2;
            // grid-row-end: span 1;
            // grid-column-end: span 1;
            // 简写形式:
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
    }
    // 以上都是使用珊格线进行设置珊格元素, 下面使用区域来定位珊格元素
    .gridArea{
        width: 300px;
        height: 300px;
        border: 1px solid #000;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        // grid-template-rows: repeat(3, [r] 100px);
        // grid-template-columns: repeat(3,[c] 100px);
        div{
            // grid-area: 2/2/3/3;
            // grid-area: r 1/c 1/r 4/c 4;
            border: 1px solid #000;
        }
    }
    // 小米官网布局
    article.xiaomiLayout{
        display: grid;
        width: 100vw;
        height :100vh;
        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 60px 1fr;
        // 规定珊格布局的区域;
        // grid-template-areas: "header header" "nav main" "footer footer";
        grid-template-areas: '. .' '. .' 'footer footer';
        gap: 5px;
        header,nav,main,footer{
            background-color: blueviolet;
            background-clip: content-box;
            text-align: center;
            line-height: 3em;
            font-size: 20px;
            color: #fff;
        }
        header{
            // grid-area: header;
            // grid-area: header-start/header-start/header-end/header-end;
            // grid-area: header-start/nav-start/nav-end/main-start;
            // grid-area: nav-start/nav-start/main-start/main-end;
        }
        // nav{
        //     grid-area: nav;
        // }
        // main{
        //     grid-area: main;
        // }
        footer{
            grid-area: footer;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            div{
                background-color: #ccc;
                background-clip: content-box;
                line-height: 2em;
                text-align: center;
                color: #000;
                padding: 5px;
            }
        }
    }
    // 珊格布局流动机制;
    article.flowLayout{
        margin: 0 auto;
        display: grid;
        width: fit-content;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(3, 100px);
        border: 1px solid #000;
        box-sizing: border-box;
        // 规定布局为横向流动,并且填满所有空白位置;
        // grid-auto-flow: row dense;
        grid-auto-flow: dense;
        gap: 5px;
        padding: 5px;
        div{
            border: 1px solid #000;
            box-sizing: border-box;
            text-align: center;
            line-height: 100px;
            background-color: blue;
            &:nth-of-type(1){
                // grid-column-start: 1;
                // grid-column-end: span 2;
                grid-column:1/span 2;
                
            }
            &:nth-of-type(2){
                grid-column: 2;
            }
        }
    }
    // 排列方式
    article.alignjustify{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 5px;
        gap: 5px;
        width: 400px;
        height: 100px;
        border: 1px solid #000;
        box-sizing: border-box;
        // justify-content: space-evenly;
        // align-content: center;
        // justify-items: stretch;
        // align-items: center;
        div{
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: red;
            width: 50px;
            height: 50px;
            &:nth-of-type(1){
                justify-self: end;
                align-self: end;
            }
        }
    }

}