* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #34495e;
  color: #ccc;
}
body main.translate {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
  margin: 0 auto;
  padding: 30px;
}
body main.translate div {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: green;
  transition: 1s;
  transform: perspective(900px) rotateY(45deg);
}
body main.translate div:hover {
  transform: perspective(1000px) rotateY(45deg) translateZ(100px);
}
body main.translatecase {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main.translatecase div {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
body main.translatecase div input {
  border: none;
  outline: none;
  background-color: #ccc;
  height: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}
body main.translatecase div::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ccc, #2ecc71, #f1c40f, #e74c3c, #ccc);
  transform: translate3d(-100%, 0, 0);
  transition: 2s;
}
body main.translatecase div:hover::before {
  transform: translate3d(100%, 0, 0);
}
body main.translatemobile {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body main.translatemobile::before {
  content: 'leechenze.com';
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bolder;
  color: #aaa;
}
body main.translatemobile main {
  flex: 1;
  position: relative;
}
body main.translatemobile main div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-weight: bolder;
  color: #fff;
  transition: 1s;
  transform: translate(0, -100%);
}
body main.translatemobile main div:target {
  transform: translate(0, 0);
}
body main.translatemobile main div:nth-of-type(1):target {
  background-color: #2ecc71;
}
body main.translatemobile main div:nth-of-type(2):target {
  background-color: #8e44ad;
}
body main.translatemobile main div:nth-of-type(3):target {
  background-color: #f1c40f;
}
body main.translatemobile nav {
  height: 8vh;
  background-color: #34495e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body main.translatemobile nav a {
  text-decoration: none;
  font-size: 0.5em;
  color: #eee;
  opacity: 0.8;
  text-transform: uppercase;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
}
body main.translatemobile nav a:nth-of-type(2) {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
body main.scale {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(45deg);
  transition: 1s;
}
body main.scale div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  align-self: center;
  transition: 1s;
}
body main.scale div:nth-of-type(1) {
  transform: translate(-50%, -50%) translateZ(100px);
  background-color: yellowgreen;
}
body main.scale div:nth-of-type(2) {
  transform: translate(-50%, -50%) translateZ(-100px);
  background-color: blueviolet;
}
body main.scale:hover {
  transform: perspective(1000px) rotateY(45deg) scaleZ(2);
}
body main.scaleimg {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  align-items: center;
}
body main.scaleimg div {
  height: 150px;
  margin: 10px;
  flex: 1;
  filter: blur(8px);
  box-sizing: border-box;
  overflow: hidden;
  transition: 1s;
}
body main.scaleimg div img {
  width: 100%;
  height: 100%;
  border: 5px solid #aaa;
  box-sizing: border-box;
  transition: 1s;
}
body main.scaleimg div:hover {
  filter: none;
  border-radius: 50%;
  overflow: hidden;
}
body main.scaleimg div:hover img {
  transform: scale3d(1.5, 1.5, 0);
  border-right: 50%;
}
body main.rotate {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(900px) rotateX(45deg);
}
body main.rotate div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  transition: 1s;
  transform-style: preserve-3d;
}
body main.rotate:hover div {
  transform: perspective(500px) rotateX(100deg) rotateY(100deg);
}
body main.skew {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.skew div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  transition: 1s;
}
body main.skew:hover div {
  transform: skew(-45deg, 45deg);
}
body main.skewbtn {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.skewbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 55px;
  border: 3px solid #e74c3c;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  font-weight: bolder;
  color: #ccc;
  overflow: hidden;
}
body main.skewbtn a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 0;
  background-color: #e74c3c;
  transform-origin: center center;
  transform: skew(45deg);
  z-index: -1;
  transition: 0.5s;
}
body main.skewbtn a:hover::after {
  width: 180%;
  transform-origin: center center;
  transition: 0.5s;
}
body main.boxskew {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #ccc;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main.boxskew div {
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
  position: relative;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  transform: skew(25deg, 0) rotate(-20deg);
}
body main.boxskew div::before {
  content: '';
  width: 10px;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  left: -10px;
  transform: skewY(-45deg) translate(0, 5px);
}
body main.boxskew div::after {
  content: '';
  width: 100%;
  height: 10px;
  background-color: #aaa;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: skewX(-45deg) translate(-5px, 0);
}
body main.transformorigin {
  width: 300px;
  height: 300px;
  border: 2px solid #aaa;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(900px) rotateY(45deg) rotateX(45deg);
}
body main.transformorigin div {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  transform-origin: right bottom 200px;
}
body main.transformorigin div:nth-of-type(1) {
  background-color: red;
}
body main.transformorigin:hover div:nth-of-type(1) {
  background-color: green;
  transform: rotateY(245deg);
}
body main.happynewyear {
  width: 500px;
  height: 250px;
  background-color: yellowgreen;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: blueviolet;
  font-weight: bolder;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(1000px) rotateX(25deg);
}
body main.happynewyear::before,
body main.happynewyear::after {
  width: 50%;
  height: 100%;
  background-color: brown;
  transition: 1s;
  color: yellowgreen;
}
body main.happynewyear::before {
  content: '新年';
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 2px solid orange;
  box-sizing: border-box;
}
body main.happynewyear::after {
  content: '快乐';
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid orange;
  box-sizing: border-box;
}
body main.happynewyear:hover::before {
  transform: rotateY(-120deg);
}
body main.happynewyear:hover::after {
  transform: rotateY(120deg);
}
body:hover main.clock .second {
  transform: translateX(-50%) rotate(7200deg);
}
body main.clock {
  width: 500px;
  height: 500px;
  background: linear-gradient(to right top, yellowgreen, blueviolet, brown);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main.clock::before {
  content: '';
  width: 90%;
  height: 90%;
  background-color: #2d495c;
  border-radius: 50%;
}
body main.clock div.line {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body main.clock div.line::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #2d495c;
  border-radius: 50%;
  z-index: 1;
}
body main.clock div.line::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 9;
}
body main.clock div.line div {
  width: 5px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
}
body main.clock div.line div:nth-child(1) {
  transform: translateX(-50%) rotate(0deg);
}
body main.clock div.line div:nth-child(2) {
  transform: translateX(-50%) rotate(30deg);
}
body main.clock div.line div:nth-child(3) {
  transform: translateX(-50%) rotate(60deg);
}
body main.clock div.line div:nth-child(4) {
  transform: translateX(-50%) rotate(90deg);
}
body main.clock div.line div:nth-child(5) {
  transform: translateX(-50%) rotate(120deg);
}
body main.clock div.line div:nth-child(6) {
  transform: translateX(-50%) rotate(150deg);
}
body main.clock .hour {
  width: 5px;
  height: 15%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
}
body main.clock .minute {
  width: 3px;
  height: 25%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  transform: translateX(-50%) rotate(30deg);
}
body main.clock .second {
  width: 1px;
  height: 30%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  transform: translateX(-50%) rotate(60deg);
  transition: 120s;
}
body main.rotatemenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body main.rotatemenu nav {
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, #2ecc71, #3498db, #9b59b6, #e74c3c);
  list-style: none;
  position: absolute;
  border-radius: 50%;
  transition: 0.5s;
}
body main.rotatemenu nav ul {
  width: 300px;
  height: 300px;
  list-style: none;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
}
body main.rotatemenu nav ul li {
  width: 50px;
  height: 50px;
  background: linear-gradient(to top, #2ecc71, #3498db, #9b59b6, #e74c3c);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  transform-origin: 150px 150px;
}
body main.rotatemenu nav ul li span {
  transition: 1s;
}
body main.rotatemenu nav:hover ul {
  transform: scale(1);
}
body main.rotatemenu nav:hover ul li:nth-child(1) {
  transform: rotate(40deg);
}
body main.rotatemenu nav:hover ul li:nth-child(1) span {
  transform: rotate(calc(360deg - 40deg));
}
body main.rotatemenu nav:hover ul li:nth-child(2) {
  transform: rotate(80deg);
}
body main.rotatemenu nav:hover ul li:nth-child(2) span {
  transform: rotate(calc(720deg - 80deg));
}
body main.rotatemenu nav:hover ul li:nth-child(3) {
  transform: rotate(120deg);
}
body main.rotatemenu nav:hover ul li:nth-child(3) span {
  transform: rotate(calc(1080deg - 120deg));
}
body main.rotatemenu nav:hover ul li:nth-child(4) {
  transform: rotate(160deg);
}
body main.rotatemenu nav:hover ul li:nth-child(4) span {
  transform: rotate(calc(1440deg - 160deg));
}
body main.rotatemenu nav:hover ul li:nth-child(5) {
  transform: rotate(200deg);
}
body main.rotatemenu nav:hover ul li:nth-child(5) span {
  transform: rotate(calc(1800deg - 200deg));
}
body main.rotatemenu nav:hover ul li:nth-child(6) {
  transform: rotate(240deg);
}
body main.rotatemenu nav:hover ul li:nth-child(6) span {
  transform: rotate(calc(2160deg - 240deg));
}
body main.rotatemenu nav:hover ul li:nth-child(7) {
  transform: rotate(280deg);
}
body main.rotatemenu nav:hover ul li:nth-child(7) span {
  transform: rotate(calc(2520deg - 280deg));
}
body main.rotatemenu nav:hover ul li:nth-child(8) {
  transform: rotate(320deg);
}
body main.rotatemenu nav:hover ul li:nth-child(8) span {
  transform: rotate(calc(2880deg - 320deg));
}
body main.rotatemenu nav:hover ul li:nth-child(9) {
  transform: rotate(360deg);
}
body main.rotatemenu nav:hover ul li:nth-child(9) span {
  transform: rotate(calc(3240deg - 360deg));
}
body main.rotatemenu nav::after {
  content: 'leechenze.com';
  width: 250px;
  height: 250px;
  background-color: #2d495c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  text-align: center;
  line-height: 8em;
  font-size: 32px;
  font-weight: bolder;
  color: #aaa;
  text-shadow: #fff 0px 0px 20px;
}
body main.persepctive {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  perspective: 600px;
  transform: translate(-50%, -50%) perspective(500px) rotateY(45deg);
}
body main.persepctive div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  margin-left: 30px;
  transform: perspective(500px) rotateY(45deg);
}
body main.preserve {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(500px) rotateY(45deg);
}
body main.preserve div {
  width: 150px;
  height: 150px;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: 0;
}
body main.preserve div:nth-child(2) {
  background-color: blueviolet;
  transform: translateZ(-150px);
}
body:hover main.picture3drotate {
  transform: translate(-50%, -50%) perspective(500px) rotateX(-45deg) rotateY(550deg);
}
body article.picturebox {
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main.picture3drotate {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  transition: 1s;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(500px) rotateX(-45deg);
}
body main.picture3drotate div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
body main.picture3drotate div img {
  height: 100%;
}
body main.picture3drotate div:nth-child(1) {
  transform-origin: center center -200px;
  transform: rotateY(90deg);
}
body main.picture3drotate div:nth-child(2) {
  transform-origin: center center -200px;
  transform: rotateY(180deg);
}
body main.picture3drotate div:nth-child(3) {
  transform-origin: center center -200px;
  transform: rotateY(270deg);
}
body main.picture3drotate div:nth-child(4) {
  transform-origin: center center -200px;
  transform: rotateY(360deg);
}
body main.perspective-origin {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  perspective: 500px;
  transition: 1s;
  transform-style: preserve-3d;
  transform: perspective(500px) translate(-50%, -50%);
}
body main.perspective-origin:hover {
  transform: perspective(500px) translate(-50%, -50%) rotateY(90deg);
  perspective-origin: right top;
}
body main.perspective-origin div {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main.perspective-origin div:nth-child(1) {
  background-color: cyan;
  transform: translate(-50%, -50%) rotateY(45deg);
}
body main.perspective-origin div:nth-child(2) {
  background-color: chartreuse;
  transform: translate(-50%, -50%) rotateY(45deg);
}
body main.square3d {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  transition: 1s;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(500px) rotate3d(-1, 0, 0, 45deg);
}
body main.square3d:hover {
  transform: translate(-50%, -50%) perspective(500px) rotateX(90deg) rotateY(90deg);
}
body main.square3d div {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-origin: center center 100px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
body main.square3d div:nth-child(1) {
  background-color: cyan;
  transform: translate(-50%, -50%) rotateY(0deg);
}
body main.square3d div:nth-child(2) {
  background-color: darkgreen;
  transform: translate(-50%, -50%) rotateY(90deg);
}
body main.square3d div:nth-child(3) {
  background-color: crimson;
  transform: translate(-50%, -50%) rotateY(180deg);
}
body main.square3d div:nth-child(4) {
  background-color: chartreuse;
  transform: translate(-50%, -50%) rotateY(270deg);
}
body main.square3d div:nth-child(5) {
  background-color: yellow;
  transform-origin: top;
  transform: translate(-50%, -50%) rotateX(90deg) translateY(-100px);
}
body main.square3d div:nth-child(6) {
  background-color: blue;
  transform-origin: bottom;
  transform: translate(-50%, -50%) rotateX(90deg) translateY(100px);
}
body main.backface .signin {
  transform: perspective(500px) rotateY(180deg);
}
body main.backface .register {
  transform: perspective(500px) rotateY(0deg);
}
body main.backface main {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transform-style: preserve-3d;
  transition: 1s;
  transform: perspective(500px);
}
body main.backface main div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  font-size: 3em;
  font-weight: bolder;
  color: #2c3e50;
}
body main.backface main div:nth-child(1) {
  background-color: #2980b9;
}
body main.backface main div:nth-child(2) {
  background-color: #e74c3c;
  transform: rotateY(180deg);
}
body main.backface nav {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body main.backface nav a {
  text-decoration: none;
  font-size: 2em;
  color: greenyellow;
}
