* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #34495e;
  color: #ccc;
}
body main.translate {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
  margin: 0 auto;
  padding: 30px;
}
body main.translate div {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: green;
  transition: 1s;
  transform: perspective(900px) rotateY(45deg);
}
body main.translate div:hover {
  transform: perspective(1000px) rotateY(45deg) translateZ(100px);
}
body main.translatecase {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main.translatecase div {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
body main.translatecase div input {
  border: none;
  outline: none;
  background-color: #ccc;
  height: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}
body main.translatecase div::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ccc, #2ecc71, #f1c40f, #e74c3c, #ccc);
  transform: translate3d(-100%, 0, 0);
  transition: 2s;
}
body main.translatecase div:hover::before {
  transform: translate3d(100%, 0, 0);
}
body main.translatemobile {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body main.translatemobile::before {
  content: 'leechenze.com';
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bolder;
  color: #aaa;
}
body main.translatemobile main {
  flex: 1;
  position: relative;
}
body main.translatemobile main div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-weight: bolder;
  color: #fff;
  transition: 1s;
  transform: translate(0, -100%);
}
body main.translatemobile main div:target {
  transform: translate(0, 0);
}
body main.translatemobile main div:nth-of-type(1):target {
  background-color: #2ecc71;
}
body main.translatemobile main div:nth-of-type(2):target {
  background-color: #8e44ad;
}
body main.translatemobile main div:nth-of-type(3):target {
  background-color: #f1c40f;
}
body main.translatemobile nav {
  height: 8vh;
  background-color: #34495e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body main.translatemobile nav a {
  text-decoration: none;
  font-size: 0.5em;
  color: #eee;
  opacity: 0.8;
  text-transform: uppercase;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
}
body main.translatemobile nav a:nth-of-type(2) {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
body main.scale {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(45deg);
  transition: 1s;
}
body main.scale div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  align-self: center;
  transition: 1s;
}
body main.scale div:nth-of-type(1) {
  transform: translate(-50%, -50%) translateZ(100px);
  background-color: yellowgreen;
}
body main.scale div:nth-of-type(2) {
  transform: translate(-50%, -50%) translateZ(-100px);
  background-color: blueviolet;
}
body main.scale:hover {
  transform: perspective(1000px) rotateY(45deg) scaleZ(2);
}
body main.scaleimg {
  width: 500px;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  align-items: center;
}
body main.scaleimg div {
  height: 150px;
  margin: 10px;
  flex: 1;
  filter: blur(8px);
  box-sizing: border-box;
  overflow: hidden;
  transition: 1s;
}
body main.scaleimg div img {
  width: 100%;
  height: 100%;
  border: 5px solid #aaa;
  box-sizing: border-box;
  transition: 1s;
}
body main.scaleimg div:hover {
  filter: none;
  border-radius: 50%;
  overflow: hidden;
}
body main.scaleimg div:hover img {
  transform: scale3d(1.5, 1.5, 0);
  border-right: 50%;
}
body main.rotate {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(900px) rotateX(45deg);
}
body main.rotate div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  transition: 1s;
  transform-style: preserve-3d;
}
body main.rotate:hover div {
  transform: perspective(500px) rotateX(100deg) rotateY(100deg);
}
body main.skew {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.skew div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  transition: 1s;
}
body main.skew:hover div {
  transform: skew(-45deg, 45deg);
}
body main.skewbtn {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.skewbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 55px;
  border: 3px solid #e74c3c;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  font-weight: bolder;
  color: #ccc;
  overflow: hidden;
}
body main.skewbtn a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 0;
  background-color: #e74c3c;
  transform-origin: center center;
  transform: skew(45deg);
  z-index: -1;
  transition: 0.5s;
}
body main.skewbtn a:hover::after {
  width: 180%;
  transform-origin: center center;
  transition: 0.5s;
}
