*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #34495e;
    color: #ccc;
    main.translate{
        width: 300px;
        height: 300px;
        border: 3px solid #000;
        margin: 0 auto;
        padding: 30px;
        div{
            width: 100px;
            height: 100px;
            border:1px solid #000;
            background-color: green;
            transition: 1s;
            transform: perspective(900px) rotateY(45deg);
            &:hover{
                // transform: perspective(900px) rotateY(45deg) translateX(50%) translateY(50%) translateZ(300px);
                transform: perspective(1000px) rotateY(45deg) translateZ(100px);
            }
        }
    }
    main.translatecase{
        border: 1px solid #000;
        width: 300px;
        height: 300px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            margin: 0;
            padding:0;
            position: relative;
            overflow: hidden;
            input{
                border: none;
                outline: none;
                background-color: #ccc;
                height: 30px;
                margin-bottom: 5px;
                font-size: 18px;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, #ccc, #2ecc71, #f1c40f, #e74c3c, #ccc);
                transform: translate3d(-100%, 0, 0);
                transition: 2s;
            }
            &:hover::before{
                transform: translate3d(100%, 0, 0);
            }
            
        }
    }
    
    main.translatemobile{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        &::before{
            content: 'leechenze.com';
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-weight: bolder;
            color: #aaa;
        }
        main{
            flex: 1;
            position: relative;
            div{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 8em;
                font-weight: bolder;
                color: #fff;
                transition: 1s;
                transform: translate(0, -100%);
                &:target{
                    transform: translate(0, 0);
                }
                &:nth-of-type(1):target{
                    background-color: #2ecc71;
                }
                &:nth-of-type(2):target{
                    background-color: #8e44ad;
                }
                &:nth-of-type(3):target{
                    background-color: #f1c40f;
                }
            }
        }
        nav{
            height: 8vh;
            background-color: #34495e;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a{
                text-decoration: none;
                font-size: .5em;
                color: #eee;
                opacity: 0.8;
                text-transform: uppercase;
                box-sizing: border-box;
                flex: 1;
                text-align: center;
                &:nth-of-type(2){
                    border-left: 1px solid #aaa;
                    border-right: 1px solid #aaa;
                }
            }
        }
    }
    main.scale{
        width: 300px;
        height: 300px;
        border: 1px solid #000;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(45deg);
        transition: 1s;
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 150px;
            align-self: center;
            transition: 1s;
            &:nth-of-type(1){
                transform: translate(-50%, -50%) translateZ(100px);   
                background-color: yellowgreen;
            }
            &:nth-of-type(2){
                transform: translate(-50%, -50%) translateZ(-100px);
                background-color: blueviolet;
            }
        }
        &:hover{
            transform: perspective(1000px) rotateY(45deg) scaleZ(2);
        }
    }
    main.scaleimg{
        width: 500px;
        height: 300px;
        border: 1px solid #000;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        margin: 50px auto;
        align-items: center;
        div{
            height: 150px;
            margin: 10px;
            flex: 1;
            filter: blur(8px);
            box-sizing: border-box;
            overflow: hidden;
            transition: 1s;
            img{
                width: 100%;
                height: 100%;
                border: 5px solid #aaa;
                box-sizing: border-box;
                transition: 1s;
            }
            &:hover{
                filter: none;
                border-radius: 50%;
                overflow: hidden;
                img{
                    transform: scale3d(1.5, 1.5, 0);
                    border-right: 50%;
                }
            }
        }
    }
    main.rotate{
        width: 300px;
        height: 300px;
        margin: 50px auto;
        border: 1px solid #000;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(900px) rotateX(45deg);
        div{
            width: 100px;
            height: 100px;
            background-color: yellowgreen;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;
            transition: 1s;
            transform-style: preserve-3d;
        }
        &:hover{
            div{
                // transform: perspective(500px)  rotateX(90deg) rotateZ(45deg);
                // transform: perspective(500px) rotate3d(0, 0, 1, 180deg);
                transform: perspective(500px) rotateX(100deg) rotateY(100deg);
                // transform: perspective(500px) rotateY(100deg) rotateX(100deg);
            }
        }
    }
    main.skew{
        width: 300px;
        height: 300px;
        margin: 50px auto;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: 100px;
            height: 100px;
            background-color: yellowgreen;
            transition: 1s;
        }
        &:hover{
            div{
                // transform: skewX(-45deg) skewY(45deg);
                transform: skew(-45deg, 45deg);
            }
        }
    }
    main.skewbtn{
        width: 300px;
        height: 300px;
        margin: 50px auto;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 55px;
            border: 3px solid #e74c3c;
            box-sizing: border-box;
            position: relative;
            text-decoration: none;
            font-weight: bolder;
            color: #ccc;
            overflow: hidden;
            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -50%;
                height: 100%;
                width: 0;
                background-color: #e74c3c;
                transform-origin: center center;
                transform: skew(45deg);
                z-index: -1;
                transition: .5s;
            }
            &:hover{
                &::after{
                    width: 180%;
                    transform-origin: center center;
                    transition: .5s;
                }
            }
        }
    }
    main.boxskew{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid #ccc;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div{
            width: 150px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: #fff;
            position: relative;
            color: #34495e;
            font-weight: bolder;
            text-transform: uppercase;
            transform: skew(25deg, 0) rotate(-20deg);
            &::before{
                content: '';
                width: 10px;
                height: 100%;
                background-color: #ddd;
                position: absolute;
                left: -10px;
                transform: skewY(-45deg) translate(0, 5px);
            }
            &::after{
                content: '';
                width: 100%;
                height: 10px;
                background-color: #aaa;
                position: absolute;
                left: 0;
                bottom: -10px;
                transform: skewX(-45deg) translate(-5px, 0);
            }
        }
    }
    main.transformorigin{
        width: 300px;
        height: 300px;
        border: 2px solid  #aaa;
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        // transform: translate(-50%, -50%) perspective(900px) rotate3d(1, 2, 0, 45deg);
        transform: translate(-50%, -50%) perspective(900px) rotateY(45deg) rotateX(45deg);
        
        div{
            &:nth-of-type(1){
                background-color: red;
            }
            width: 100px;
            height: 100px;
            background-color: blue;
            transition: 1s;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;
            // transform-origin: 30% 30%;
            // transform-origin: 300% 300%;
            // transform-origin: left bottom;
            // transform-origin: left top;
            // 以下是3dZ轴效果;
            // transform-origin: center;
            transform-origin: right bottom 200px;
        }
        &:hover{
            div:nth-of-type(1){
                // transform: rotate(950deg);
                // transform: skew(0deg, 45deg);
                // transform: skew(45deg, 0deg);
                // 以下是3dZ轴效果;
                background-color: green;
                transform: rotateY(245deg);
            }
        }
    }
}