* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #2c3e50;
  box-sizing: border-box;
}
main.explore {
  width: 100%;
  height: 100%;
  border: 10px solid #8e44ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.explore div {
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  animation-name: hd;
  animation-duration: 2s;
}
@keyframes hd {
  0% {
    background-color: #1abc9c;
    width: 100px;
    height: 100px;
  }
  25% {
    background-color: #2ecc71;
    border-radius: 50%;
  }
  50% {
    background-color: #3498db;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  75% {
    background-color: #f39c12;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  100% {
    background-color: #d35400;
  }
}
main.square {
  width: 100%;
  height: 100%;
  border: 10px solid #8e44ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.square div {
  width: 300px;
  height: 300px;
  border: 1px solid #aaa;
}
main.square div span {
  display: block;
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  animation-name: square;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
@keyframes square {
  25% {
    transform: translate(200px, 0);
  }
  50% {
    transform: translate(200px, 200px);
  }
  75% {
    transform: translate(0, 200px);
  }
  100% {
    background-color: #fff;
  }
  25%,
  75% {
    border-radius: 50%;
    border: 10px solid #c0392b;
    background-color: #f1c40f;
  }
}
main.heartBox {
  width: 100%;
  height: 100%;
  border: 10px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.heartBox div {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: red;
  transform: rotate(45deg);
  opacity: 0.5;
  animation-name: heartBox;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
main.heartBox div::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50%;
  top: 0;
  background-color: red;
  border-radius: 50%;
}
main.heartBox div::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50%;
  left: 0;
  background-color: red;
  border-radius: 50%;
}
@keyframes heartBox {
  25% {
    opacity: 1;
    transform: rotate(45deg) scale(1.5);
  }
  50% {
    opacity: 0.5;
    transform: rotate(45deg) scale(1);
  }
  75% {
    opacity: 1;
    transform: rotate(45deg) scale(1.5);
  }
}
main.direction {
  width: 100%;
  height: 100%;
  border: 10px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.direction ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
main.direction ul li {
  width: 400px;
  height: 400px;
  border: 1px solid #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: red;
  position: relative;
}
main.direction ul li i {
  position: absolute;
  transform: translate(0, 300%) scale(3);
  animation-name: hd;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
main.direction ul li span {
  position: absolute;
  bottom: 0;
}
main.direction ul li:nth-of-type(1) i {
  animation-direction: normal;
}
main.direction ul li:nth-of-type(2) i {
  animation-direction: reverse;
}
main.direction ul li:nth-of-type(3) i {
  animation-direction: alternate;
}
main.direction ul li:nth-of-type(4) i {
  animation-direction: alternate-reverse;
}
@keyframes hd {
  from {
    transform: translate(0, 300%) scale(3);
  }
  to {
    transform: translate(0, 300%) scale(6);
  }
}
main.ballJump {
  width: 100%;
  height: 100%;
  border: 10px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.ballJump main {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
main.ballJump main div {
  width: 200px;
  height: 200px;
  background: radial-gradient(at center, #d35400, #f39c12);
  border-radius: 50%;
  animation-name: ball;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
main.ballJump main section {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0);
  z-index: -1;
  width: 80%;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  filter: blur(20px);
  animation-name: shadowPro;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes ball {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -300px);
  }
}
@keyframes shadowPro {
  from {
    width: calc(500px * 0.8);
    height: 80px;
    filter: blur(10px);
  }
  to {
    width: 0px;
    height: 0px;
    filter: blur(35px);
  }
}
main.moblieBox {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
}
main.moblieBox article {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  color: #fff;
}
main.moblieBox article header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #3B3B98;
  animation-name: transformheader;
  animation-duration: 0.5s;
}
main.moblieBox article main {
  background-image: url(../../images/1.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  border: 100px solid #aaa;
  animation-name: rotatemain;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
main.moblieBox article main div {
  width: 90%;
  height: auto;
  padding: 10px;
  font-size: 0.9em;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #2c3e50;
  color: #000;
  animation-name: rotatemaindiv;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}
main.moblieBox article main div:nth-of-type(1) {
  background-color: #55E6C1;
  animation-delay: 2s;
}
main.moblieBox article main div:nth-of-type(2) {
  background-color: #1B9CFC;
  animation-delay: 2s;
  transform: translate(0, 30px);
}
main.moblieBox article footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #82589F;
  transform: scale(0);
  animation-name: transfromfooter;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes transformheader {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes transfromfooter {
  from {
    transform: translate(100%, 0) scale(0);
  }
  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes rotatemain {
  from {
    transform: rotate(0deg) scale(0);
  }
  50% {
    border: 10px solid #aaa;
    border-radius: 50%;
  }
  75% {
    border-radius: 30%;
  }
  90% {
    border-radius: 10%;
    border: 5px solid #aaa;
  }
  to {
    transform: rotate(360deg) scale(1);
    border: none;
  }
}
@keyframes rotatemaindiv {
  from {
    transform: translate(0, 30px) scale(0);
  }
  50% {
    border: 10px solid #aaa;
    border-radius: 50%;
  }
  75% {
    border-radius: 30%;
  }
  90% {
    border-radius: 10%;
    border: 5px solid #aaa;
  }
  to {
    transform: scale(1) translate(0, 30px);
    border: none;
  }
}
main.animatecubic {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
  display: grid;
  grid-template: 1fr;
}
main.animatecubic ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}
main.animatecubic ul li {
  list-style: none;
  background-color: #e67e22;
  height: 50px;
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
main.animatecubic ul li:nth-of-type(1) {
  animation-timing-function: ease;
}
main.animatecubic ul li:nth-of-type(2) {
  animation-timing-function: ease-in;
}
main.animatecubic ul li:nth-of-type(3) {
  animation-timing-function: ease-out;
}
main.animatecubic ul li:nth-of-type(4) {
  animation-timing-function: ease-in-out;
}
main.animatecubic ul li:nth-of-type(5) {
  animation-timing-function: linear;
}
main.animatecubic ul li:nth-of-type(6) {
  animation-timing-function: cubic-bezier(0, 1.5, 1, -0.5);
}
@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 900%);
  }
}
main.animationballjump {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
}
main.animationballjump main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
}
main.animationballjump main div {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: yellowgreen;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  justify-self: center;
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes move {
  0% {
    transform: translate(0, 0vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  20% {
    transform: translate(0, 20vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  40% {
    transform: translate(0, 40vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  60% {
    transform: translate(0, 60vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  80% {
    transform: translate(0, 70vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  100% {
    transform: translate(0, 83vh);
    transition-timing-function: cubic-bezier(0.96, 0.18, 0.79, 0.4);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(0, 83vh);
    transition-timing-function: cubic-bezier(0.07, 0.78, 0.3, 0.89);
  }
}
main.currentColor {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
}
main.currentColor div {
  width: 200px;
  height: 200px;
  color: yellowgreen;
  background-color: red;
  box-shadow: 250px 250px 0 0 currentColor;
  border: 10px solid currentColor;
}
.submitEffect {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.submitEffect button {
  display: block;
  width: 200px;
  padding: 10px;
  box-sizing: content-box;
  justify-self: center;
  align-self: center;
  font-size: 2em;
}
.submitEffect button::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  animation-name: submitEffect;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes submitEffect {
  from {
    box-shadow: none;
  }
  30% {
    box-shadow: 6px 0 0 0 #000;
  }
  60% {
    box-shadow: 6px 0 0 0 #000, 18px 0 0 0 #000;
  }
  90% {
    box-shadow: 6px 0 0 0 #000, 18px 0 0 0 #000, 30px 0 0 0 #000;
  }
}
main.animationsteps {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
main.animationsteps article {
  width: 400px;
  height: 200px;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
main.animationsteps article div {
  background-color: #f39c12;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid #2c3e50;
  position: relative;
}
main.animationsteps article div:nth-child(1)::after,
main.animationsteps article div:nth-child(5)::after {
  animation-play-state: paused;
}
main.animationsteps article div:nth-child(1)::after {
  content: 'START';
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: #8e44ad;
  animation-name: animationsteps;
  animation-duration: 1s;
  animation-timing-function: steps(1, start);
  animation-iteration-count: infinite;
  z-index: 1;
}
main.animationsteps article div:nth-child(5)::after {
  content: 'END';
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: #2ecc71;
  animation-name: animationsteps;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  z-index: 1;
}
main.animationsteps article div:nth-child(5):hover::after {
  animation-play-state: running;
}
main.animationsteps article div:nth-child(1):hover::after {
  animation-play-state: running;
}
@keyframes animationsteps {
  50% {
    transform: translate(100px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
main.carousel {
  width: 97.3%;
  height: 97.3%;
  margin: auto;
  border: 10px solid #aaa;
  display: grid;
}
main.carousel main {
  width: 400px;
  height: 250px;
  overflow: hidden;
  justify-self: center;
  align-self: center;
  position: relative;
}
main.carousel main section {
  width: 1600px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  animation-name: slide;
  animation-timing-function: steps(4, end);
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-play-state: running;
}
main.carousel main section div {
  width: 400px;
  height: 250px;
  overflow: hidden;
}
main.carousel main section div img {
  width: 100%;
  height: 100%;
}
main.carousel main section:hover,
main.carousel main section:hover + ul::after {
  animation-play-state: paused;
}
main.carousel main ul {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
  list-style: none;
  width: 200px;
  height: 30px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
main.carousel main ul li {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5em;
}
main.carousel main ul::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: -1;
  animation-name: nums;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, end);
}
@keyframes slide {
  to {
    transform: translate(-1600px, 0);
  }
}
@keyframes nums {
  to {
    transform: translate(200px, 0);
  }
}
