article{
    border: 1px solid #000;
    div{
        width: 200px;
        height: 200px;
        &:nth-of-type(1) {
            border: 3px solid #f00;
            float: left;
        }
        &:nth-of-type(2) {
            background-color: #0f0;
            float: left;
        }
    }
}