@charset "uft-8";
@import "./Global.less";

.detail-page{
    // 详情页头部
    .detail-header{
        
    }
    // 详情文章
    article{
        padding: 10px;
        text-align: center;
        h1{
            
        }
        p{
            margin-bottom: 10px;
        }
        .image-box{
            .img-package{
                img{
                    width: 100%;
                }
            }
        }
        .article-box{
            
        }
    }
    // SubList
    .sub-list();
}