@charset "utf-8";
html,
body,
#root {
  height: 100%;
}
body {
  touch-action: pan-y;
  background-color: #00439c;
}
input {
  outline: none;
}
.home-page {
  height: 100%;
  background-color: #fff;
}
