@charset 'utf-8';
html,
body,
#root {
  height: 100%;
}
body {
  touch-action: pan-y;
  background-color: #00439c;
}
input {
  outline: none;
}
.login-page {
  height: 100%;
  background-color: #00439c;
  color: #fff;
  text-align: center;
}
.login-page .img-package {
  text-align: center;
  padding-top: 100px;
}
.login-page .login-form {
  margin: 30px 5%;
}
